*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

a{
    text-decoration: none;
}

.df{
    display: flex;
}
ul{
    list-style: none;
}
.all-btn{
    display: inline-block;
    font-size: 18px;
    padding: 8px 19px;
    border-radius: 5px;
    background-color: #04AA6D;
    color: #fff;
    font-weight: 600;
}
.main-box-p > p, .main-box > a {
    margin-bottom: 17px;
    margin-top: 17px;
    font-size: 17px;
}
